/*
Use this file as input to generate Tailwind CSS file using the following command...
npx tailwindcss -i ./src/input.css -o ./src/style.css --watch
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
  border-width: 2px;
  border-color: red;
  border-style: dotted;
}

.newMovieButton {
  color: red;
  padding: 10px;
}

.poster-edge-gradient {
  background: linear-gradient(to right, #044bac, #c86be7);
  border-radius: 1.5rem;
  padding: 0.4rem;
}

.bg-custom-purple {
  background-color: #150629;
}

.text-category-title {
  font-size: 30px;
  color: white;
}

.text-category-body {
  font-size: 25px;
  color: white;
}

.spanButton:hover {
  cursor: pointer;
}

.vertical-video {
  height: 70vh;
}

@media screen and (max-width: 768px) {
  .vertical-video {
    height: 25vh;
  }
}

@layer utilities {
  .shadow-red-glow {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.7); /* Adjust the color and size as needed */
  }

  .shadow-white-glow {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: rgb(105, 28, 160);
  padding: 20px;
  border-radius: 5px;
}

.close-button {
  float: right;
  cursor: pointer;
  font-size: 30px;
  color: "#FF7272";
  text-shadow: "0px 0px 6px #FFE370";
  padding: 0px 10px;
}

/*Code Pen to get stars https://codepen.io/rohitk242/pen/ZEaVMKz*/
body {
  background: rgb(31, 10, 73);
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.block {
  position: relative;
  height: 100%;
  background-image: radial-gradient(
    circle at 50% 90%,
    #402d68,
    #110626 79%,
    #0e011b
  );
  overflow: hidden;
  box-sizing: border-box;
}
.block:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("https://imgur.com/B2VVbTo.png");
  background-size: cover;
  animation: stars 40s linear infinite alternate;
}
.block:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("https://imgur.com/OzQPJqM.png");
  background-size: cover;
  animation: stars 70s linear infinite alternate;
}

@keyframes stars {
  0% {
    -webkit-transform: rotate(-14deg);
    transform: rotate(-14deg);
  }
  100% {
    -webkit-transform: rotate(14deg);
    transform: rotate(14deg);
  }
}
