@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
    border-width: 2px;
    border-color: red;
    border-style: dotted;
}

.poster-edge-gradient {
    background: linear-gradient(to right, #044BAC, #C86BE7);
    border-radius: 1.5rem;
    padding: 0.4rem;
}